.container {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  height: 100vh;
  margin-top: 300px;
}

.title {
  font-family: var(--font-adamina);
  font-size: 50px;
  padding: 0px;
  margin: 0;
}

.subtitle {
  font-family: var(--font-adamina);
  margin: 0px;
  font-size: 20px;
  text-align: center;
  width: 350px;
  opacity: 50%;
}

.buttonWrapper {
  font-family: var(--font-adamina);
  margin-top: 40px;
}

.uploadButton {
  font-family: var(--font-adamina);
  cursor: pointer;
  padding: 10px 20px;
  background-color: #db8300;
  color: #fff;
  border-radius: 5px;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.uploadButton:hover {
  background-color: #d85b0a;
}